body {
  text-align: center;
  background-color: #c4c3c3;
}

input {
  color: #444;
  margin-top: 10px;
  background-color: #c4c3c3;
  width: 300px;
  height: 30px;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
}

button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 25px;
  margin: 0 15px 15px 0;
  outline: none;
  border: 1px solid #fff;
  border-radius: 50px;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
  transition: box-shadow 0.2s;
}
button:focus-visible {
  border: 1px solid #4c51f9;
  outline: none;
}
button:hover {
  transition: all 0.2s;
  box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
button:active {
  background-color: #808080;
}
button:disabled {
  background-color: #acaaaa;
  border-color: #eee;
  color: #444;
  cursor: not-allowed;
}

.timer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 700px;
  display: flex;
  background: #acaaaa;
  justify-content: center;
}
.field {
  color: #444;
  font-size: 30px;
  border-radius: 10%;
  border: 4px; /* Параметры границы */
  background: rgb(172, 176, 172); /* Цвет фона */
  padding: 70px; /* Поля вокруг текста */
  margin: 10px;
  width: 100px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.label {
  color: tomato;
  font-weight: 800;
}

.value {
  font-weight: 700;
}
